openapi: 3.1.0
info:
  title: Vital Lab Report Parser Aggregate timeseries API
  description: Submit existing lab-result PDFs to be parsed and normalized into structured biomarker results. Create lab-report parser jobs and poll for job status and parsed results.
  version: 0.4.497
  contact:
    name: Junction (Vital) Support
    url: https://docs.junction.com
servers:
- url: https://api.us.junction.com
  x-fern-server-name: Production
- url: https://api.eu.junction.com
  x-fern-server-name: ProductionEU
- url: https://api.sandbox.us.junction.com
  x-fern-server-name: Sandbox
- url: https://api.sandbox.eu.junction.com
  x-fern-server-name: SandboxEU
security:
- apiKeyAuth: []
tags:
- name: timeseries
paths:
  /v2/timeseries/sleep/{sleep_id}/stream:
    get:
      tags:
      - timeseries
      summary: Get User Sleep Stream
      description: Get Sleep stream for a user_id
      operationId: get_user_sleep_stream_v2_timeseries_sleep__sleep_id__stream_get
      parameters:
      - name: sleep_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The Vital Sleep ID
          title: Sleep Id
        description: The Vital Sleep ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientFacingSleepStream'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: sleep
      x-fern-sdk-method-name: get_stream_by_sleep_id
      x-fern-availability: deprecated
  /v2/timeseries/workouts/{workout_id}/stream:
    get:
      tags:
      - timeseries
      summary: Get User Workouts
      operationId: get_user_workouts_v2_timeseries_workouts__workout_id__stream_get
      parameters:
      - name: workout_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: The Vital ID for the workout
          title: Workout Id
        description: The Vital ID for the workout
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientFacingStream'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: workouts
      x-fern-sdk-method-name: get_by_workout_id
  /v2/timeseries/{user_id}/workout_swimming_stroke/grouped:
    get:
      tags:
      - timeseries
      summary: Workout Swimming Stroke
      operationId: get_workout_swimming_stroke_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWorkoutSwimmingStrokeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: workout_swimming_stroke_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/workout_distance/grouped:
    get:
      tags:
      - timeseries
      summary: Workout Distance
      operationId: get_workout_distance_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWorkoutDistanceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: workout_distance_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/heart_rate_recovery_one_minute/grouped:
    get:
      tags:
      - timeseries
      summary: Heart Rate Recovery One Minute
      operationId: get_heart_rate_recovery_one_minute_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedHeartRateRecoveryOneMinuteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: heart_rate_recovery_one_minute_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/waist_circumference/grouped:
    get:
      tags:
      - timeseries
      summary: Waist Circumference
      operationId: get_waist_circumference_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWaistCircumferenceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: waist_circumference_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/lean_body_mass/grouped:
    get:
      tags:
      - timeseries
      summary: Lean Body Mass
      operationId: get_lean_body_mass_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedLeanBodyMassResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: lean_body_mass_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/body_mass_index/grouped:
    get:
      tags:
      - timeseries
      summary: Body Mass Index
      operationId: get_body_mass_index_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedBodyMassIndexResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: body_mass_index_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/basal_body_temperature/grouped:
    get:
      tags:
      - timeseries
      summary: Basal Body Temperature
      operationId: get_basal_body_temperature_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedBasalBodyTemperatureResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: basal_body_temperature_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/handwashing/grouped:
    get:
      tags:
      - timeseries
      summary: Handwashing
      operationId: get_handwashing_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedHandwashingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: handwashing_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/daylight_exposure/grouped:
    get:
      tags:
      - timeseries
      summary: Daylight Exposure
      operationId: get_daylight_exposure_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedDaylightExposureResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: daylight_exposure_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/uv_exposure/grouped:
    get:
      tags:
      - timeseries
      summary: Uv Exposure
      operationId: get_uv_exposure_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedUVExposureResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: uv_exposure_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/fall/grouped:
    get:
      tags:
      - timeseries
      summary: Fall
      operationId: get_fall_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedFallResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: fall_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/inhaler_usage/grouped:
    get:
      tags:
      - timeseries
      summary: Inhaler Usage
      operationId: get_inhaler_usage_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedInhalerUsageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: inhaler_usage_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/peak_expiratory_flow_rate/grouped:
    get:
      tags:
      - timeseries
      summary: Peak Expiratory Flow Rate
      operationId: get_peak_expiratory_flow_rate_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedPeakExpiratoryFlowRateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: peak_expiratory_flow_rate_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/forced_vital_capacity/grouped:
    get:
      tags:
      - timeseries
      summary: Forced Vital Capacity
      operationId: get_forced_vital_capacity_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedForcedVitalCapacityResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: forced_vital_capacity_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/forced_expiratory_volume_1/grouped:
    get:
      tags:
      - timeseries
      summary: Forced Expiratory Volume 1
      operationId: get_forced_expiratory_volume_1_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedForcedExpiratoryVolume1Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: forced_expiratory_volume_1_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/wheelchair_push/grouped:
    get:
      tags:
      - timeseries
      summary: Wheelchair Push
      operationId: get_wheelchair_push_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWheelchairPushResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: wheelchair_push_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/sleep_breathing_disturbance/grouped:
    get:
      tags:
      - timeseries
      summary: Sleep Breathing Disturbance
      operationId: get_sleep_breathing_disturbance_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedSleepBreathingDisturbanceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: sleep_breathing_disturbance_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/sleep_apnea_alert/grouped:
    get:
      tags:
      - timeseries
      summary: Sleep Apnea Alert
      operationId: get_sleep_apnea_alert_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedSleepApneaAlertResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: sleep_apnea_alert_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/stand_duration/grouped:
    get:
      tags:
      - timeseries
      summary: Stand Duration
      operationId: get_stand_duration_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedStandDurationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: stand_duration_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/stand_hour/grouped:
    get:
      tags:
      - timeseries
      summary: Stand Hour
      operationId: get_stand_hour_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedStandHourResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: stand_hour_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/heart_rate_alert/grouped:
    get:
      tags:
      - timeseries
      summary: Heart Rate Alert
      operationId: get_heart_rate_alert_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedHeartRateAlertResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: heart_rate_alert_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/afib_burden/grouped:
    get:
      tags:
      - timeseries
      summary: Afib Burden
      operationId: get_afib_burden_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedAFibBurdenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: afib_burden_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/workout_duration/grouped:
    get:
      tags:
      - timeseries
      summary: Workout Duration
      operationId: get_workout_duration_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWorkoutDurationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: workout_duration_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/vo2_max/grouped:
    get:
      tags:
      - timeseries
      summary: Vo2 Max
      operationId: get_vo2_max_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedVO2MaxResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: vo2_max_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/stress_level/grouped:
    get:
      tags:
      - timeseries
      summary: Stress Level
      operationId: get_stress_level_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedStressLevelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: stress_level_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/mindfulness_minutes/grouped:
    get:
      tags:
      - timeseries
      summary: Mindfulness Minutes
      operationId: get_mindfulness_minutes_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedMindfulnessMinutesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: mindfulness_minutes_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/caffeine/grouped:
    get:
      tags:
      - timeseries
      summary: Caffeine
      operationId: get_caffeine_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedCaffeineResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: caffeine_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/water/grouped:
    get:
      tags:
      - timeseries
      summary: Water
      operationId: get_water_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedWaterResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: water_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/steps/grouped:
    get:
      tags:
      - timeseries
      summary: Steps
      operationId: get_steps_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedStepsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: steps_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/floors_climbed/grouped:
    get:
      tags:
      - timeseries
      summary: Floors Climbed
      operationId: get_floors_climbed_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedFloorsClimbedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: floors_climbed_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/distance/grouped:
    get:
      tags:
      - timeseries
      summary: Distance
      operationId: get_distance_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedDistanceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: distance_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/calories_basal/grouped:
    get:
      tags:
      - timeseries
      summary: Calories Basal
      operationId: get_calories_basal_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedCaloriesBasalResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: calories_basal_grouped
      x-fern-availability: generally-available
  /v2/timeseries/{user_id}/calories_active/grouped:
    get:
      tags:
      - timeseries
      summary: Calories Active
      operationId: get_calories_active_grouped
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: User id returned by vital create user id request. This id should be stored in your database against the user and used for all interactions with the vital api.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          deprecated: true
          title: Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
        deprecated: true
      - name: next_cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The cursor for fetching the next page, or `null` to fetch the first page.
          title: Next Cursor
        description: The cursor for fetching the next page, or `null` to fetch the first page.
      - name: provider
        in: query
        required: false
        schema:
          type: string
          description: Provider oura/strava etc
          default: ''
          title: Provider
        description: Provider oura/strava etc
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
          title: Start Date
        description: Date from in YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 00:00:00
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
          title: End Date
        description: Date to YYYY-MM-DD or ISO formatted date time. If a date is provided without a time, the time will be set to 23:59:59
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedCaloriesActiveResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: vitals
      x-fern-sdk-method-name: calories_active_grouped
      x-fern-availability: generally-available
[...]
