openapi: 3.2.0
info:
  title: Junction Aggregation API
  description: https://docs.junction.com/
  version: 0.4.497
servers:
- url: https://api.us.junction.com
  x-fern-server-name: Production
- url: https://api.eu.junction.com
  x-fern-server-name: ProductionEU
- url: https://api.sandbox.us.junction.com
  x-fern-server-name: Sandbox
- url: https://api.sandbox.eu.junction.com
  x-fern-server-name: SandboxEU
security:
- apiKeyAuth: []
tags:
- name: Aggregation
paths: {}
webhooks:
  continuous_query.result_table.changed:
    post:
      tags:
      - Aggregation
      summary: Result Table Changed
      operationId: result_table_changedcontinuous_query_result_table_changed_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientFacingContinuousQueryResultTableChanged'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ContinuousQueryResultTableChanges:
      properties:
        query_id:
          type: string
          format: uuid
          title: Query Id
        query_slug:
          type: string
          title: Query Slug
        data:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Data
      type: object
      required:
      - query_id
      - query_slug
      - data
      title: ContinuousQueryResultTableChanges
      example:
        data:
          group_key.0:
          - '2025-02-17T00:00:00'
          mean.efficiency:
          - 98.22
          mean.sleep_score:
          - 76.75
          min.sleep_score:
          - 61
          newest.chronotype:
          - third
        query_id: 3d459f48-a736-476a-8714-95aa3b2b3708
        query_slug: sleep-analysis-v1
    HTTPValidationError:
      properties:
        detail:
          title: Detail
      type: object
      title: HTTPValidationError
    ClientFacingContinuousQueryResultTableChanged:
      properties:
        event_type:
          type: string
          const: continuous_query.result_table.changed
          title: Event Type
          x-junction-exhaustive: true
        user_id:
          type: string
          format: uuid
          title: User Id
        client_user_id:
          type: string
          format: uuid
          title: Client User Id
        team_id:
          type: string
          format: uuid
          title: Team Id
        data:
          items:
            $ref: '#/components/schemas/ContinuousQueryResultTableChanges'
          type: array
          title: Data
      type: object
      required:
      - event_type
      - user_id
      - client_user_id
      - team_id
      - data
      title: ClientFacingContinuousQueryResultTableChanged
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-vital-api-key
      description: Vital Team API Key
